DNP Follow-Up Reply Workflow.json
{
  "name": "DNP Follow-Up Reply Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -928,
        -144
      ],
      "id": "c9a1809a-082f-4caf-975e-e32d366087f0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblqy0QyBGNPnBtFg",
          "mode": "list",
          "cachedResultName": "Master - Whatsapp First Touch",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblqy0QyBGNPnBtFg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{ $json.recipient_id }}",
            "Name": "={{$json.name}}",
            "Select": "Sent",
            "Timestamp": "={{ $now.setZone('Asia/Kolkata').format('DD HH:mm:ss') }}",
            "Message": "={{$json.message_text}}",
            "Status": "DELIVERED"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Select",
              "displayName": "Select",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Received",
                  "value": "Received"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "SENT",
                  "value": "SENT"
                },
                {
                  "name": "DELIVERED",
                  "value": "DELIVERED"
                },
                {
                  "name": "READ",
                  "value": "READ"
                },
                {
                  "name": "REPLIED",
                  "value": "REPLIED"
                },
                {
                  "name": "FAILED",
                  "value": "FAILED"
                },
                {
                  "name": "UNDELIVERABLE",
                  "value": "UNDELIVERABLE"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        576,
        96
      ],
      "id": "f5560a8b-2736-4abe-a6e0-e562da60715f",
      "name": "Master - WhatsApp First Touch1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblqy0QyBGNPnBtFg",
          "mode": "list",
          "cachedResultName": "Master - Whatsapp First Touch",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblqy0QyBGNPnBtFg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{ $json.recipient_id }}",
            "Name": "={{$json.name}}",
            "Select": "Sent",
            "Timestamp": "={{ $now.format(\"DD HH:mm\") }}",
            "Message": "={{$json.message_text}}",
            "Status": "READ"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Select",
              "displayName": "Select",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Received",
                  "value": "Received"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "SENT",
                  "value": "SENT"
                },
                {
                  "name": "DELIVERED",
                  "value": "DELIVERED"
                },
                {
                  "name": "READ",
                  "value": "READ"
                },
                {
                  "name": "REPLIED",
                  "value": "REPLIED"
                },
                {
                  "name": "FAILED",
                  "value": "FAILED"
                },
                {
                  "name": "UNDELIVERABLE",
                  "value": "UNDELIVERABLE"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        576,
        288
      ],
      "id": "73fa33d8-a2ad-44a9-9df6-102524808145",
      "name": "Master - WhatsApp First Touch2",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblqy0QyBGNPnBtFg",
          "mode": "list",
          "cachedResultName": "Master - Whatsapp First Touch",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblqy0QyBGNPnBtFg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{ $json.recipient_id }}",
            "Name": "={{$json.name}}",
            "Select": "Sent",
            "Timestamp": "={{ $now.setZone('Asia/Kolkata').format('DD HH:mm:ss') }}",
            "Message": "={{$json.message_text}}",
            "Status": "FAILED"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Select",
              "displayName": "Select",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Received",
                  "value": "Received"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "SENT",
                  "value": "SENT"
                },
                {
                  "name": "DELIVERED",
                  "value": "DELIVERED"
                },
                {
                  "name": "READ",
                  "value": "READ"
                },
                {
                  "name": "REPLIED",
                  "value": "REPLIED"
                },
                {
                  "name": "FAILED",
                  "value": "FAILED"
                },
                {
                  "name": "UNDELIVERABLE",
                  "value": "UNDELIVERABLE"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        784,
        496
      ],
      "id": "156be88c-1054-4066-8da9-c06ba64d128d",
      "name": "Master - WhatsApp First Touch3",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblqy0QyBGNPnBtFg",
          "mode": "list",
          "cachedResultName": "Master - Whatsapp First Touch",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblqy0QyBGNPnBtFg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{ $json.recipient_id }}",
            "Name": "={{$json.name}}",
            "Select": "Sent",
            "Timestamp": "={{ $now.setZone('Asia/Kolkata').format('DD HH:mm:ss') }}",
            "Message": "={{$json.message_text}}",
            "Status": "UNDELIVERABLE"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Select",
              "displayName": "Select",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Received",
                  "value": "Received"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "SENT",
                  "value": "SENT"
                },
                {
                  "name": "DELIVERED",
                  "value": "DELIVERED"
                },
                {
                  "name": "READ",
                  "value": "READ"
                },
                {
                  "name": "REPLIED",
                  "value": "REPLIED"
                },
                {
                  "name": "FAILED",
                  "value": "FAILED"
                },
                {
                  "name": "UNDELIVERABLE",
                  "value": "UNDELIVERABLE"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1088,
        688
      ],
      "id": "f8c0c943-111f-474c-9c97-59ae057793fc",
      "name": "Master - WhatsApp First Touch4",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblqy0QyBGNPnBtFg",
          "mode": "list",
          "cachedResultName": "Master - Whatsapp First Touch",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblqy0QyBGNPnBtFg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{ $json.recipient_id }}",
            "Name": "={{$json.name}}",
            "Select": "Sent",
            "Timestamp": "={{ $now.setZone('Asia/Kolkata').format('DD HH:mm:ss') }}",
            "Message": "={{$json.message_text}}",
            "Status": "SENT"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Select",
              "displayName": "Select",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Received",
                  "value": "Received"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "SENT",
                  "value": "SENT"
                },
                {
                  "name": "DELIVERED",
                  "value": "DELIVERED"
                },
                {
                  "name": "READ",
                  "value": "READ"
                },
                {
                  "name": "REPLIED",
                  "value": "REPLIED"
                },
                {
                  "name": "FAILED",
                  "value": "FAILED"
                },
                {
                  "name": "UNDELIVERABLE",
                  "value": "UNDELIVERABLE"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        576,
        -128
      ],
      "id": "6cbfcc64-6513-4178-ba91-6550107689c8",
      "name": "Master - WhatsApp First Touch5",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a10e6f55-759c-454f-aacb-0ec998991050",
              "leftValue": "={{ $json.status === \"failed\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        560
      ],
      "id": "ee96bab2-67fd-47a3-b099-d5021f957e2b",
      "name": "If \"FAILED\"2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a10e6f55-759c-454f-aacb-0ec998991050",
              "leftValue": "={{ $json.status === \"read\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        352
      ],
      "id": "1200084f-ad1c-42b0-894d-d15d6a3f786c",
      "name": "If \"READ\"2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a10e6f55-759c-454f-aacb-0ec998991050",
              "leftValue": "={{ $json.status === \"delivered\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        160
      ],
      "id": "fe079173-764d-4e51-b29b-f87896d856d1",
      "name": "If \"DELIVERED\"2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45a98321-cf91-4618-97bc-c604136bdf13",
              "leftValue": "={{ $json.status === \"sent\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        -64
      ],
      "id": "8ad4dec6-5d26-4d30-b001-9599eb2c1d9c",
      "name": "If \"SENT\"2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "977b82c7-634a-47fc-9160-72c6418a4168",
              "name": "message_id",
              "value": "={{ $json.body.entry[0].changes[0].value.statuses[0].id }}",
              "type": "string"
            },
            {
              "id": "e43b0d71-7ab4-4751-91f0-bdbdd6ec77b0",
              "name": "status",
              "value": "={{$json.body.entry[0].changes[0].value.statuses[0].status}}",
              "type": "string"
            },
            {
              "id": "2bb57a1e-9197-4fbc-9f78-0071271236a8",
              "name": "recipient_id",
              "value": "={{ $json.body.entry[0].changes[0].value.statuses[0].recipient_id }}",
              "type": "string"
            },
            {
              "id": "475b6c24-e111-47d4-bf77-c1bfafbba6b4",
              "name": "timestamp",
              "value": "={{ $json.body.entry[0].changes[0].value.statuses[0].timestamp }}",
              "type": "string"
            },
            {
              "id": "7e3bfb30-16e9-4a3a-9747-b5f0bf31a71d",
              "name": "error_code",
              "value": "={{ $json.body.entry[0].changes[0].value.statuses[0].errors ? $json.body.entry[0].changes[0].value.statuses[0].errors[0].code : null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        240
      ],
      "id": "852dbcc5-a284-4e42-9925-4856ae6e2437",
      "name": "Extract Status Details2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4969d083-8d97-48ac-af7b-d8b9e86e9d98",
              "leftValue": "={{$json.body.entry[0].changes[0].value.messages !== undefined}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        -144
      ],
      "id": "84aba869-7010-4d9c-9b30-04b42ec9a90f",
      "name": "If - Message or Status2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe12286c-8893-4a32-a3df-2214d52cf190",
              "leftValue": "={{ $json.error_code === '131049' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        576
      ],
      "id": "c06f4114-fe3b-4373-902c-14e91d0925dc",
      "name": "If RESEND2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe12286c-8893-4a32-a3df-2214d52cf190",
              "leftValue": "={{ $json.error_code === '131026' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        736
      ],
      "id": "259770de-ef71-43fd-9079-745be38e2381",
      "name": "If UNDELIVERABLE2"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblkc0do1mKuRIPF3",
          "mode": "list",
          "cachedResultName": "Sent - DNP Follow-Ups",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblkc0do1mKuRIPF3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Number": "={{ $json.recipient_id }}",
            "Status": "DELIVERED",
            "1st Follow-up Delivered": "=Delivered at {{ $now.format('DD HH:mm') }}"
          },
          "matchingColumns": [
            "Lead Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Current Stage",
              "displayName": "Current Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Number",
              "displayName": "Lead Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Number",
              "displayName": "Deal Owner Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Email",
              "displayName": "Deal Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner ID",
              "displayName": "Deal Owner ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Sent",
              "displayName": "1st Follow-up Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Delivered",
              "displayName": "1st Follow-up Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "1st Follow-up Read",
              "displayName": "1st Follow-up Read",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Replied",
              "displayName": "1st Follow-up Replied",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Template Used",
              "displayName": "Template Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Calculation",
              "displayName": "Calculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        368,
        96
      ],
      "id": "45b2ff75-4bdd-4679-9249-e79b9ec33f8b",
      "name": "Update DELIVERED",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblkc0do1mKuRIPF3",
          "mode": "list",
          "cachedResultName": "Sent - DNP Follow-Ups",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblkc0do1mKuRIPF3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Number": "={{ $json.recipient_id }}",
            "Status": "SENT",
            "1st Follow-up Sent": "=Sent at {{ $now.format('DD HH:mm') }}"
          },
          "matchingColumns": [
            "Lead Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Current Stage",
              "displayName": "Current Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Number",
              "displayName": "Lead Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Number",
              "displayName": "Deal Owner Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Email",
              "displayName": "Deal Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner ID",
              "displayName": "Deal Owner ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Sent",
              "displayName": "1st Follow-up Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "1st Follow-up Delivered",
              "displayName": "1st Follow-up Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Read",
              "displayName": "1st Follow-up Read",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Replied",
              "displayName": "1st Follow-up Replied",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Template Used",
              "displayName": "Template Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Calculation",
              "displayName": "Calculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        368,
        -128
      ],
      "id": "9756c127-cf9a-4e52-a899-ebf026f2ba45",
      "name": "Update SENT",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblkc0do1mKuRIPF3",
          "mode": "list",
          "cachedResultName": "Sent - DNP Follow-Ups",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblkc0do1mKuRIPF3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Number": "={{ $json.recipient_id }}",
            "Status": "READ",
            "1st Follow-up Read": "=Read at {{ $now.format('DD HH:mm') }}"
          },
          "matchingColumns": [
            "Lead Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Current Stage",
              "displayName": "Current Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Number",
              "displayName": "Lead Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Number",
              "displayName": "Deal Owner Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Email",
              "displayName": "Deal Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner ID",
              "displayName": "Deal Owner ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Sent",
              "displayName": "1st Follow-up Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Delivered",
              "displayName": "1st Follow-up Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Read",
              "displayName": "1st Follow-up Read",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "1st Follow-up Replied",
              "displayName": "1st Follow-up Replied",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Template Used",
              "displayName": "Template Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Calculation",
              "displayName": "Calculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        368,
        288
      ],
      "id": "015bd056-fca4-429b-b369-377a51902187",
      "name": "Update READ",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblkc0do1mKuRIPF3",
          "mode": "list",
          "cachedResultName": "Sent - DNP Follow-Ups",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblkc0do1mKuRIPF3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Number": "={{ $json.recipient_id }}",
            "Status": "FAILED",
            "Error Message": "=Failed at {{ $now.format('DD HH:mm') }}"
          },
          "matchingColumns": [
            "Lead Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Current Stage",
              "displayName": "Current Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Number",
              "displayName": "Lead Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Number",
              "displayName": "Deal Owner Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Email",
              "displayName": "Deal Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner ID",
              "displayName": "Deal Owner ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Sent",
              "displayName": "1st Follow-up Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Delivered",
              "displayName": "1st Follow-up Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Read",
              "displayName": "1st Follow-up Read",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Replied",
              "displayName": "1st Follow-up Replied",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Template Used",
              "displayName": "Template Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Calculation",
              "displayName": "Calculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        576,
        496
      ],
      "id": "c6952cb2-a14b-4696-923a-bc5c2792fad9",
      "name": "Update FAILED",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblkc0do1mKuRIPF3",
          "mode": "list",
          "cachedResultName": "Sent - DNP Follow-Ups",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblkc0do1mKuRIPF3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Number": "={{ $json.recipient_id }}",
            "Status": "UNDELIVERABLE",
            "Error Message": "=Failed at {{ $now.format('DD HH:mm') }}"
          },
          "matchingColumns": [
            "Lead Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Current Stage",
              "displayName": "Current Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Number",
              "displayName": "Lead Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Number",
              "displayName": "Deal Owner Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Email",
              "displayName": "Deal Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner ID",
              "displayName": "Deal Owner ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Sent",
              "displayName": "1st Follow-up Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Delivered",
              "displayName": "1st Follow-up Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Read",
              "displayName": "1st Follow-up Read",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Replied",
              "displayName": "1st Follow-up Replied",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Template Used",
              "displayName": "Template Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Calculation",
              "displayName": "Calculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        880,
        688
      ],
      "id": "46a36c41-7228-45da-a86a-b51660f6fb24",
      "name": "Update UNDELIVERABLE",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblGQRaqljlapDPAD",
          "mode": "list",
          "cachedResultName": "Sent - Whatsapp First Touch",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblGQRaqljlapDPAD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{$json.number}}",
            "DNP Follow-up Status": "REPLIED"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Full Name ",
              "displayName": "Full Name ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Current_Stage",
              "displayName": "Current_Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Form Submitted",
              "displayName": "Form Submitted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Touch Status",
              "displayName": "First Touch Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DNP Follow-up Status",
              "displayName": "DNP Follow-up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal Owner",
              "displayName": "Deal Owner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Number",
              "displayName": "Deal Owner Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Email",
              "displayName": "Deal Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner ID",
              "displayName": "Deal Owner ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sent",
              "displayName": "Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Delivered",
              "displayName": "Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Read",
              "displayName": "Read",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reply Received",
              "displayName": "Reply Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Template Used",
              "displayName": "Template Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "whatsapp_first_touch_1",
                  "value": "whatsapp_first_touch_1"
                },
                {
                  "name": "whatsapp_first_touch_with_sdr_1",
                  "value": "whatsapp_first_touch_with_sdr_1"
                },
                {
                  "name": "2_whatsapp_first_touch_with_sdr",
                  "value": "2_whatsapp_first_touch_with_sdr"
                },
                {
                  "name": "3_whatsapp_first_touch_with_sdr",
                  "value": "3_whatsapp_first_touch_with_sdr"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sent Message ",
              "displayName": "Sent Message ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Calculation",
              "displayName": "Calculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        528,
        -752
      ],
      "id": "2fa51e86-22a7-4c17-8892-9d2786e0ff10",
      "name": "Sent - Whatsapp First Touch",
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblCRZzJiEz9kSuyE",
          "mode": "list",
          "cachedResultName": "Reply - DNP Follow-Ups",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblCRZzJiEz9kSuyE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{$json.number}}",
            "Name": "={{$json.name}}",
            "Reply Received": "={{$json.message_text}}",
            "Select": "Received",
            "Timestamp": "={{ $now.setZone('Asia/Kolkata').format('DD HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reply Received",
              "displayName": "Reply Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Select",
              "displayName": "Select",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Received",
                  "value": "Received"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        528,
        -560
      ],
      "id": "be27ad3b-3469-453c-9d95-1b988362d6b5",
      "name": "Reply - Whatsapp First Touch",
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblqy0QyBGNPnBtFg",
          "mode": "list",
          "cachedResultName": "Master - Whatsapp First Touch",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblqy0QyBGNPnBtFg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{$json.number}}",
            "Name": "={{$json.name}}",
            "Select": "Received",
            "Timestamp": "={{ $now.setZone('Asia/Kolkata').format('DD HH:mm:ss') }}",
            "Message": "={{$json.message_text}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Select",
              "displayName": "Select",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Received",
                  "value": "Received"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "SENT",
                  "value": "SENT"
                },
                {
                  "name": "DELIVERED",
                  "value": "DELIVERED"
                },
                {
                  "name": "READ",
                  "value": "READ"
                },
                {
                  "name": "REPLIED",
                  "value": "REPLIED"
                },
                {
                  "name": "FAILED",
                  "value": "FAILED"
                },
                {
                  "name": "UNDELIVERABLE",
                  "value": "UNDELIVERABLE"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        528,
        -1136
      ],
      "id": "a1ff118d-c281-4abd-be7e-9e8773c0e404",
      "name": "Master - WhatsApp First Touch",
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aba3f6db-0130-40e8-86ef-d01ae3485bb5",
              "name": "name",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "5f1c4c99-a7a3-4b02-a480-de543bbc59af",
              "name": "number",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "26bf46f1-7764-4da1-8b22-6af60435f00a",
              "name": "message_text",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -848
      ],
      "id": "9b44192f-89a9-4ea5-99ed-6d359d09ee1e",
      "name": "Extract Message Data2"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblkc0do1mKuRIPF3",
          "mode": "list",
          "cachedResultName": "Sent - DNP Follow-Ups",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblkc0do1mKuRIPF3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Number": "={{$json.number}}",
            "Status": "REPLIED",
            "1st Follow-up Replied": "={{ $now.setZone('Asia/Kolkata').format('DD HH:mm:ss') }} - {{$json.message_text}}"
          },
          "matchingColumns": [
            "Lead Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Current Stage",
              "displayName": "Current Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Number",
              "displayName": "Lead Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Number",
              "displayName": "Deal Owner Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Email",
              "displayName": "Deal Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner ID",
              "displayName": "Deal Owner ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Sent",
              "displayName": "1st Follow-up Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Delivered",
              "displayName": "1st Follow-up Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Read",
              "displayName": "1st Follow-up Read",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Follow-up Replied",
              "displayName": "1st Follow-up Replied",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Template Used",
              "displayName": "Template Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Calculation",
              "displayName": "Calculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        528,
        -944
      ],
      "id": "c1d30ca2-6b60-4639-82d5-68ca33acac00",
      "name": "Update Sent - DNP Follow Up",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aiacc.app.n8n.cloud/webhook-test/d47a7f32-4c56-49b1-b565-34456406d210",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        -560
      ],
      "id": "37de4a97-c02f-4f68-9978-81ddf5de99af",
      "name": "Send to AI SDR"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblGQRaqljlapDPAD",
          "mode": "list",
          "cachedResultName": "Sent - Whatsapp First Touch",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblGQRaqljlapDPAD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{$json.number}}",
            "DNP Follow-up Status": "SENT"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Full Name ",
              "displayName": "Full Name ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Current_Stage",
              "displayName": "Current_Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Form Submitted",
              "displayName": "Form Submitted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Touch Status",
              "displayName": "First Touch Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DNP Follow-up Status",
              "displayName": "DNP Follow-up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal Owner",
              "displayName": "Deal Owner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Number",
              "displayName": "Deal Owner Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Email",
              "displayName": "Deal Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner ID",
              "displayName": "Deal Owner ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sent",
              "displayName": "Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Delivered",
              "displayName": "Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Read",
              "displayName": "Read",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reply Received",
              "displayName": "Reply Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Template Used",
              "displayName": "Template Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "whatsapp_first_touch_1",
                  "value": "whatsapp_first_touch_1"
                },
                {
                  "name": "whatsapp_first_touch_with_sdr_1",
                  "value": "whatsapp_first_touch_with_sdr_1"
                },
                {
                  "name": "2_whatsapp_first_touch_with_sdr",
                  "value": "2_whatsapp_first_touch_with_sdr"
                },
                {
                  "name": "3_whatsapp_first_touch_with_sdr",
                  "value": "3_whatsapp_first_touch_with_sdr"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sent Message ",
              "displayName": "Sent Message ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Calculation",
              "displayName": "Calculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        784,
        -128
      ],
      "id": "f5e99109-7025-491d-81f1-dbe3d97d10e7",
      "name": "Sent - Whatsapp First Touch1",
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblGQRaqljlapDPAD",
          "mode": "list",
          "cachedResultName": "Sent - Whatsapp First Touch",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblGQRaqljlapDPAD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{$json.number}}",
            "DNP Follow-up Status": "DELIVERED"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Full Name ",
              "displayName": "Full Name ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Current_Stage",
              "displayName": "Current_Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Form Submitted",
              "displayName": "Form Submitted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Touch Status",
              "displayName": "First Touch Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DNP Follow-up Status",
              "displayName": "DNP Follow-up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal Owner",
              "displayName": "Deal Owner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Number",
              "displayName": "Deal Owner Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Email",
              "displayName": "Deal Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner ID",
              "displayName": "Deal Owner ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sent",
              "displayName": "Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Delivered",
              "displayName": "Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Read",
              "displayName": "Read",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reply Received",
              "displayName": "Reply Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Template Used",
              "displayName": "Template Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "whatsapp_first_touch_1",
                  "value": "whatsapp_first_touch_1"
                },
                {
                  "name": "whatsapp_first_touch_with_sdr_1",
                  "value": "whatsapp_first_touch_with_sdr_1"
                },
                {
                  "name": "2_whatsapp_first_touch_with_sdr",
                  "value": "2_whatsapp_first_touch_with_sdr"
                },
                {
                  "name": "3_whatsapp_first_touch_with_sdr",
                  "value": "3_whatsapp_first_touch_with_sdr"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sent Message ",
              "displayName": "Sent Message ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Calculation",
              "displayName": "Calculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        800,
        96
      ],
      "id": "dcf09ce1-2e89-4b13-90f5-3fcbe582a0bc",
      "name": "Sent - Whatsapp First Touch2",
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblGQRaqljlapDPAD",
          "mode": "list",
          "cachedResultName": "Sent - Whatsapp First Touch",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblGQRaqljlapDPAD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{$json.number}}",
            "DNP Follow-up Status": "READ"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Full Name ",
              "displayName": "Full Name ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Current_Stage",
              "displayName": "Current_Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Form Submitted",
              "displayName": "Form Submitted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Touch Status",
              "displayName": "First Touch Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DNP Follow-up Status",
              "displayName": "DNP Follow-up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal Owner",
              "displayName": "Deal Owner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Number",
              "displayName": "Deal Owner Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Email",
              "displayName": "Deal Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner ID",
              "displayName": "Deal Owner ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sent",
              "displayName": "Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Delivered",
              "displayName": "Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Read",
              "displayName": "Read",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reply Received",
              "displayName": "Reply Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Template Used",
              "displayName": "Template Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "whatsapp_first_touch_1",
                  "value": "whatsapp_first_touch_1"
                },
                {
                  "name": "whatsapp_first_touch_with_sdr_1",
                  "value": "whatsapp_first_touch_with_sdr_1"
                },
                {
                  "name": "2_whatsapp_first_touch_with_sdr",
                  "value": "2_whatsapp_first_touch_with_sdr"
                },
                {
                  "name": "3_whatsapp_first_touch_with_sdr",
                  "value": "3_whatsapp_first_touch_with_sdr"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sent Message ",
              "displayName": "Sent Message ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Calculation",
              "displayName": "Calculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        816,
        304
      ],
      "id": "e759de3b-5215-4474-bd27-66708c2902f6",
      "name": "Sent - Whatsapp First Touch3",
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblGQRaqljlapDPAD",
          "mode": "list",
          "cachedResultName": "Sent - Whatsapp First Touch",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblGQRaqljlapDPAD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{$json.number}}",
            "DNP Follow-up Status": "FAILED"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Full Name ",
              "displayName": "Full Name ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Current_Stage",
              "displayName": "Current_Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Form Submitted",
              "displayName": "Form Submitted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Touch Status",
              "displayName": "First Touch Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DNP Follow-up Status",
              "displayName": "DNP Follow-up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal Owner",
              "displayName": "Deal Owner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Number",
              "displayName": "Deal Owner Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Email",
              "displayName": "Deal Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner ID",
              "displayName": "Deal Owner ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sent",
              "displayName": "Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Delivered",
              "displayName": "Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Read",
              "displayName": "Read",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reply Received",
              "displayName": "Reply Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Template Used",
              "displayName": "Template Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "whatsapp_first_touch_1",
                  "value": "whatsapp_first_touch_1"
                },
                {
                  "name": "whatsapp_first_touch_with_sdr_1",
                  "value": "whatsapp_first_touch_with_sdr_1"
                },
                {
                  "name": "2_whatsapp_first_touch_with_sdr",
                  "value": "2_whatsapp_first_touch_with_sdr"
                },
                {
                  "name": "3_whatsapp_first_touch_with_sdr",
                  "value": "3_whatsapp_first_touch_with_sdr"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sent Message ",
              "displayName": "Sent Message ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Calculation",
              "displayName": "Calculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        992,
        496
      ],
      "id": "49947ad0-4f53-4f2c-bd4c-75d7925392ed",
      "name": "Sent - Whatsapp First Touch4",
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4Ga3V7xw90ZvaU",
          "mode": "list",
          "cachedResultName": "Whatsapp - Master Base",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU"
        },
        "table": {
          "__rl": true,
          "value": "tblGQRaqljlapDPAD",
          "mode": "list",
          "cachedResultName": "Sent - Whatsapp First Touch",
          "cachedResultUrl": "https://airtable.com/app4Ga3V7xw90ZvaU/tblGQRaqljlapDPAD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{$json.number}}",
            "DNP Follow-up Status": "UNDELIVERABLE"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Full Name ",
              "displayName": "Full Name ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Current_Stage",
              "displayName": "Current_Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Form Submitted",
              "displayName": "Form Submitted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Touch Status",
              "displayName": "First Touch Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DNP Follow-up Status",
              "displayName": "DNP Follow-up Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal Owner",
              "displayName": "Deal Owner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Number",
              "displayName": "Deal Owner Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner Email",
              "displayName": "Deal Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deal Owner ID",
              "displayName": "Deal Owner ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sent",
              "displayName": "Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Delivered",
              "displayName": "Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Read",
              "displayName": "Read",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reply Received",
              "displayName": "Reply Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Template Used",
              "displayName": "Template Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "whatsapp_first_touch_1",
                  "value": "whatsapp_first_touch_1"
                },
                {
                  "name": "whatsapp_first_touch_with_sdr_1",
                  "value": "whatsapp_first_touch_with_sdr_1"
                },
                {
                  "name": "2_whatsapp_first_touch_with_sdr",
                  "value": "2_whatsapp_first_touch_with_sdr"
                },
                {
                  "name": "3_whatsapp_first_touch_with_sdr",
                  "value": "3_whatsapp_first_touch_with_sdr"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sent Message ",
              "displayName": "Sent Message ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Calculation",
              "displayName": "Calculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1296,
        688
      ],
      "id": "964fcb0a-4954-4813-bcc1-b8958b32d540",
      "name": "Sent - Whatsapp First Touch5",
      "credentials": {
        "airtableTokenApi": {
          "id": "Er63oAf0XfghX3Ic",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If \"FAILED\"2": {
      "main": [
        [
          {
            "node": "If RESEND2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If \"READ\"2": {
      "main": [
        [
          {
            "node": "Master - WhatsApp First Touch2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update READ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sent - Whatsapp First Touch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If \"DELIVERED\"2": {
      "main": [
        [
          {
            "node": "Master - WhatsApp First Touch1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update DELIVERED",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sent - Whatsapp First Touch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If \"SENT\"2": {
      "main": [
        [
          {
            "node": "Update SENT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master - WhatsApp First Touch5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sent - Whatsapp First Touch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Status Details2": {
      "main": [
        [
          {
            "node": "If \"READ\"2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If \"DELIVERED\"2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If \"SENT\"2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If \"FAILED\"2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Message or Status2": {
      "main": [
        [
          {
            "node": "Extract Message Data2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Status Details2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If RESEND2": {
      "main": [
        [
          {
            "node": "Master - WhatsApp First Touch3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update FAILED",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sent - Whatsapp First Touch4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If UNDELIVERABLE2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If UNDELIVERABLE2": {
      "main": [
        [
          {
            "node": "Master - WhatsApp First Touch4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update UNDELIVERABLE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sent - Whatsapp First Touch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If - Message or Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data2": {
      "main": [
        [
          {
            "node": "Master - WhatsApp First Touch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Sent - DNP Follow Up",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sent - Whatsapp First Touch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reply - Whatsapp First Touch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply - Whatsapp First Touch": {
      "main": [
        [
          {
            "node": "Send to AI SDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67708117-8171-4886-bbfc-6ff8edca6a49",
  "meta": {
    "instanceId": "45745a8adebf972591cb1c34947d7982ccae58966ae55502975d349f81f9d3fe"
  },
  "id": "DyYONkJLryPzV80d",
  "tags": []
}